<!DOCTYPE html>
<html lang=”en”>

<head>
    <%- include("./partials/head") %>
</head>


  <body class="body">

    <header>
        <div class="header-div">
            <p class="back-arrow"><a class="arrow" href="/"><i class="fas fa-arrow-alt-circle-left"></i> </a></p>
        </div>

        <h1>
            NutriFarco<img class="img" src="./img/baking-1293986_1920.png" class="logo" />
        </h1>

    </header>


    <main>

        <div>
            

            <div class="row">
              <div class="col-12">
                <h1 class="product">Para comprar tenes que loguarte primero
                     y despues ie a la pestaña PRODUCTOS</h1>
              </div>
            </div>
   
              <div class="div-bottom">
                <a href="/"><button class="bottom-log-continuar" type="submit">Volver a pagina principal 
                </button>
                </a>
              </div> 
        </div>
    </main>

    <footer>
        <%- include("./partials/footer-log-reg") %>
    </footer>
  </body>

</html>