<!DOCTYPE html>
<html lang=”en”>

<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesLogin.css">
</head>


<body class="body">

    <header>
        <div class="header-div">
            <p class="back-arrow"><a class="arrow" href="/"><i class="fa-solid fa-arrow-left-long"></i> </a></p>

        </div>

        <div class="titulo-login">
            <h1 class="nutrifarco">Iniciar sesión      <img class="img-logo" src="/img/nutri-logo.png"/></h1>
        </div>
        

    </header>


    <main>
        <h1 class="inicia-sesion">Comprá seguro, comprá libre</h1>

            <form action="/user/processLogin" id="processLogin" method="POST" >      
                <div class="div-input">
                    <h3>Teléfono, e-mail o usuario</h3>
                    <label class="hidden" for="email"><br></label>
                    <input class="input-log" type="email" name="email" id="email" placeholder="correo@email.com"/>
                    <% if (locals.errors && errors.email) { %>
                        <div class="errors">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="div-input">
                    <h3>Contraseña</h3>
                    <label class="hidden" for="password"><br></label>
                    <input class="input-log" type="password" name="password" id="password" placeholder="***********"/>
                    <% if (locals.errors && errors.password) { %>
                        <div class="errors">
                            <%= errors.password.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="checkbox">
                    <label for="recordame" class="recordar">Recuérdame</label>
                    <input type="checkbox"  id="recordar" name="recordar">
                </div>                      
            
               
                <div class="div-bottom">             
                    <button class="bottom-log-continuar" type="submit">Iniciar sesión</button>
                   
                    <a href="/user/register" class="bottom-log-crear">Crear cuenta</a>                                 
                </div>> 
                                  
                    
                </div> 
                    
                <p class="need-container"><a class="need" href="/help">
                     Necesito ayuda para ingresar </a>
                </p>
            </form>  
         
           
    </main>

    <footer>
        <%- include("./partials/footer-log-reg") %>

    </footer>
</body>

</html>