<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
  </head>

  <div class="container container--flex">
    <div class="main-header__container">
      <h1 class="main-header__title">NutriFarco</h1>
      <span class="icon-menu" id="btn-menu"
        ><i class="fa-solid fa-bars"></i
      ></span>
      <nav class="main-nav" id="main-nav">
        <ul class="menu">
          <li class="menu__item"><a href="/product/create/" class="menu__link">NEW PRODUCT</a></li>
          <li class="menu__item"><a href="/product/index/" class="menu__link">LIST-MODIFY-DELETE</a></li>
        </ul>
      </nav>
    </div>
   
  </div>
  
  </body>
</html>
