<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head") %> 
</head>

<header class="main-header">
  <%- include("./partials/header") %> 
</header>
 

<body>
    
      <div class="container-slider">
        <div class="slider" id="slider">
          <div class="slider__section">
            <img src="https://images.pexels.com/photos/3259598/pexels-photo-3259598.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="slider__img">
            <div class="slider__content">
              <h2 class="slider__title">Descubrí los beneficios</h2>
              <p class="slider__txt">Ofertas 50% off</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
          </div>
          <div class="slider__section">
            <img src="https://images.pexels.com/photos/6442512/pexels-photo-6442512.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="slider__img">
            <div class="slider__content">
              <h2 class="slider__title">Descubrí los beneficios</h2>
              <p class="slider__txt">Cool summer sale 50% off</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
          </div>
          <div class="slider__section">
            <img src="https://images.pexels.com/photos/8758970/pexels-photo-8758970.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="slider__img">
            <div class="slider__content">
              <h2 class="slider__title">Descubrí los beneficios</h2>
              <p class="slider__txt">Cool summer sale 50% off</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
          </div>
          <div class="slider__section">
            <img src="https://images.pexels.com/photos/3465383/pexels-photo-3465383.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="slider__img">
            <div class="slider__content">
              <h2 class="slider__title">Descubrí los beneficios</h2>
              <p class="slider__txt">Cool summer sale 50% off</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
          </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
      </div>
      <main class="main">
        <div class="container">
          <h2 class="main-title">New Arrivals for you</h2>
          <section class="container-products">
            <div class="product">
              <img src="https://m.media-amazon.com/images/I/71ZFEPygShL._AC_SL1500_.jpg" alt="" class="product__img">
              <div class="product__description">
                <h3 class="product__title">Auténtico CBD Oil..</h3>
                <span class="product__price">$575.00</span>
              </div>
              <i class="product__icon fas fa-cart-plus"></i>
            </div>
            <div class="product">
              <img src="https://m.media-amazon.com/images/I/71JOt3qEp-L._AC_SL1500_.jpg" alt="" class="product__img">
              <div class="product__description">
                <h3 class="product__title">Crema Extrafuerte de Cáñamo..</h3>
                <span class="product__price">$575.00</span>
              </div>
              <i class="product__icon fas fa-cart-plus"></i>
            </div>
            <div class="product">
              <img src="https://m.media-amazon.com/images/I/71Jf+bsbNeL._AC_SL1500_.jpg" alt="" class="product__img">
              <div class="product__description">
                <h3 class="product__title">Aceite de Semilla de Cáñamo..</h3>
                <span class="product__price">$575.00</span>
              </div>
              <i class="product__icon fas fa-cart-plus"></i>
            </div>
            <div class="product">
              <img src="https://m.media-amazon.com/images/I/71-SNFpUP1L._AC_SL1500_.jpg" alt="" class="product__img">
              <div class="product__description">
                <h3 class="product__title">Cbd,Aceite de cáñamo orgánico..</h3>
                <span class="product__price">$325.00</span>
              </div>
              <i class="product__icon fas fa-cart-plus"></i>
            </div>
          </section>
          <section class="container__testimonials">
            <h2 class="section__title">Testimonials</h2>
            <h3 class="testimonial__title">Anamaria </h3>
            <p class="testimonial__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, perferendis, animi! Numquam quasi similique, fuga sint. Nulla veritatis quia nemo, magni, necessitatibus impedit inventore, provident culpa repellat esse a quo.</p>
          </section>
        
          <div class="container-editor">
            <div class="editor__item">
              <img src="https://images.pexels.com/photos/3807374/pexels-photo-3807374.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="editor__img">
              <p class="editor__circle">Mirá los beneficios</p>
            </div>
            <div class="editor__item">
              <img src="https://images.pexels.com/photos/3724139/pexels-photo-3724139.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="editor__img">
              <p class="editor__circle">Un estilo de vida</p>
            </div>
          </div>
          <section class="container-tips">
            <div class="tip">
              <i class="far fa-hand-paper"></i> 
              <h2 class="tip__title">Satisfacción Garantizada</h2>
              <p class="tip__txt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
            <div class="tip">
             <i class="fas fa-rocket"></i>
              <h2 class="tip__title">Envío Express</h2>
              <p class="tip__txt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
            <div class="tip">
              <i class="fas fa-cog"></i>
              <h2 class="tip__title">Compra Segura</h2>
              <p class="tip__txt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
          </section>
        </div>
      </main>
      <footer class="main-footer">
        <%- include("./partials/footer") %> 
      </footer> 
      <script src="/js/slider.js"></script>
</body>
</html>