<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./favicon.png"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>NutriFarco Industries</title>
</head>
<body>
    <header class="main-header">
        <div class="container container--flex">
          <div class="main-header__container">
            <h1 class="main-header__title">NutriFarco</h1>
            <span class="icon-menu" id="btn-menu"><i class="fa-solid fa-bars"></i></span>
            <nav class="main-nav" id="main-nav">
              <ul class="menu">
                <li class="menu__item"><a href="" class="menu__link">HOME</a></li>
                <li class="menu__item"><a href="" class="menu__link">ABOUT</a></li>
                <li class="menu__item"><a href="" class="menu__link">FEATURES</a></li>
                <li class="menu__item"><a href="" class="menu__link">SHOP</a></li>
                <li class="menu__item"><a href="" class="menu__link">CONTACT</a></li>
              </ul>
            </nav>
          </div>
          <div class="main-header__container">
            <span class="main-header__txt">¿Necesitás ayuda?</span>
            <p class="main-header__txt"><i class="fa-solid fa-phone-flip"></i> Llama al 1234566789</p>
          </div>
          <div class="main-header__container">
            <a href="" class="main-header__link"><i class="fas fa-user"></i></a>
            <a href="" class="main-header__btn">My cart<i class="fa-solid fa-cart-shopping"></i></a>
            <input type="search" class="main-header__input" placeholder="Buscar productos"><i class="fas fa-search"></i>
          </div>
        </div>
      </header>
      <div class="container-slider">
        <div class="slider" id="slider">
          <div class="slider__section">
            <img src="https://images.pexels.com/photos/3616991/pexels-photo-3616991.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" class="slider__img">
            <div class="slider__content">
              <h2 class="slider__title">Descubrí los beneficios</h2>
              <p class="slider__txt">Ofertas 50% off</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
          </div>
          <div class="slider__section">
            <img src="https://images.pexels.com/photos/6442512/pexels-photo-6442512.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="slider__img">
            <div class="slider__content">
              <h2 class="slider__title">Descubrí los beneficios</h2>
              <p class="slider__txt">Cool summer sale 50% off</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
          </div>
          <div class="slider__section">
            <img src="https://images.pexels.com/photos/8758970/pexels-photo-8758970.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="slider__img">
            <div class="slider__content">
              <h2 class="slider__title">Descubrí los beneficios</h2>
              <p class="slider__txt">Cool summer sale 50% off</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
          </div>
          <div class="slider__section">
            <img src="https://images.pexels.com/photos/8140312/pexels-photo-8140312.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="slider__img">
            <div class="slider__content">
              <h2 class="slider__title">Descubrí los beneficios</h2>
              <p class="slider__txt">Cool summer sale 50% off</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
          </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
      </div>
      <main class="main">
        <div class="container">
          <h2 class="main-title">New Arrivals for you</h2>
          <section class="container-products">
            <div class="product">
              <img src="https://m.media-amazon.com/images/I/71ZFEPygShL._AC_SL1500_.jpg" alt="" class="product__img">
              <div class="product__description">
                <h3 class="product__title">Auténtico CBD Oil</h3>
                <span class="product__price">$575.00</span>
              </div>
              <i class="product__icon fas fa-cart-plus"></i>
            </div>
            <div class="product">
              <img src="https://m.media-amazon.com/images/I/71JOt3qEp-L._AC_SL1500_.jpg" alt="" class="product__img">
              <div class="product__description">
                <h3 class="product__title">Crema Extrafuerte de Cáñamo</h3>
                <span class="product__price">$575.00</span>
              </div>
              <i class="product__icon fas fa-cart-plus"></i>
            </div>
            <div class="product">
              <img src="https://m.media-amazon.com/images/I/71Jf+bsbNeL._AC_SL1500_.jpg" alt="" class="product__img">
              <div class="product__description">
                <h3 class="product__title">Aceite de Semilla de Cáñamo</h3>
                <span class="product__price">$575.00</span>
              </div>
              <i class="product__icon fas fa-cart-plus"></i>
            </div>
            <div class="product">
              <img src="https://m.media-amazon.com/images/I/71-SNFpUP1L._AC_SL1500_.jpg" alt="" class="product__img">
              <div class="product__description">
                <h3 class="product__title">Cbd,Aceite de cáñamo orgánico </h3>
                <span class="product__price">$325.00</span>
              </div>
              <i class="product__icon fas fa-cart-plus"></i>
            </div>
          </section>
          <section class="container__testimonials">
            <h2 class="section__title">Testimonials</h2>
            <h3 class="testimonial__title">Anamaria </h3>
            <p class="testimonial__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, perferendis, animi! Numquam quasi similique, fuga sint. Nulla veritatis quia nemo, magni, necessitatibus impedit inventore, provident culpa repellat esse a quo.</p>
          </section>
        
          <div class="container-editor">
            <div class="editor__item">
              <img src="https://images.pexels.com/photos/3807374/pexels-photo-3807374.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="editor__img">
              <p class="editor__circle">Mirá los beneficios</p>
            </div>
            <div class="editor__item">
              <img src="https://images.pexels.com/photos/3724139/pexels-photo-3724139.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="editor__img">
              <p class="editor__circle">Un estilo de vida</p>
            </div>
          </div>
          <section class="container-tips">
            <div class="tip">
              <i class="far fa-hand-paper"></i> 
              <h2 class="tip__title">Satisfacción Garantizada</h2>
              <p class="tip__txt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
            <div class="tip">
             <i class="fas fa-rocket"></i>
              <h2 class="tip__title">Envío Express</h2>
              <p class="tip__txt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
            <div class="tip">
              <i class="fas fa-cog"></i>
              <h2 class="tip__title">Compra Segura</h2>
              <p class="tip__txt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              <a href="" class="btn-shop">SHOP NOW</a>
            </div>
          </section>
        </div>
      </main>
      <footer class="main-footer">
        <div class="footer__section">
          <h2 class="footer__title">ACERCA</h2>
          <p class="footer__txt">Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus. Nulla porttitor accumsana tincidunt.</p>
        </div>
        <div class="footer__section">
          <h2 class="footer__title">UBICACIÓN :</h2>
          <p class="footer__txt">5367k 5 Piso, 9 de Julio, Buenos Aires</p>
          <h2 class="footer__title">CONTACTO</h2>
          <p class="footer__txt">Phone : +123 123 1234 1234</p>
          <p class="footer__txt">Email : bananero@gmail.com</p>
        </div>
        <div class="footer__section">
          <h2 class="footer__title">Quick Links</h2>
          <a href="" class="footer__link">Home</a>
          <a href="" class="footer__link">About</a>
          <a href="" class="footer__link">FAQ</a>
          <a href="" class="footer__link">Shop</a>
          <a href="" class="footer__link">Contact Us</a>
        </div>
        <div class="footer__section">
          <h2 class="footer__title">Sign up for your offers</h2>
          <p class="footer__txt">By subscribing to our mailing list you will always get latest news and updates from us.</p>
          <input type="email" class="footer__input" placeholder="Enter your email">
        </div>
        <p class="copy">© 2022 Nutrifarco. All Rights Reserved | Design by Nutrifarco</p>
      </footer> 
      <script src="/js/slider.js"></script>
</body>
</html>