<!DOCTYPE html>
<html lang=”en”>

<head>
    <meta charset=”UTF-8″ />
    <meta http-equiv="X-UA-Compatible" content="IE-Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documento</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/stylesLogin.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>


<body class="body">

    <header>
        <div class="header-div">
            <p class="back-arrow"><a class="arrow" href="/"><i class="fas fa-arrow-alt-circle-left"></i> </a></p>

        </div>

        <h1>
            NutriFarco<img class="img" src="./img/baking-1293986_1920.png" class="logo" />
        </h1>

    </header>


    <main>

        <div>
            <div class="div-input">
                <label class="hidden " for="nickname">Teléfono, e-mail o usuario <br></label>
                <input class="input-log" type="text" name="nickname" id="nickname" placeholder="Nombre de usuari@" />

            </div>

            <div class="div-input">
                <label class="hidden" for="password">Contraseña <br></label>
                <input class="input-log" type="password" name="password" id="password" placeholder="Contraseña" />


            </div>
            <div class="div-bottom">

                <a href="/"><button class="bottom-log-continuar" type="submit">Continuar <br></button></a>

                <a href="/register"><button class="bottom-log-crear" type="submit"> Crear cuenta<br></button></a>

                <p class="need-container"><a class="need" href="/help">
                        Necesito ayuda para ingresar </a>
                </p>


            </div>

        </div>
    </main>

    <footer>

        <div>
            <p><a class="cuidamos" href="/privacy">
                    Cómo cuidamos tu privacidad
                </a>
            </p>


            <p class="copyright">Copyright © 2022-2040 NutriFarco S.R.L</p>

    </footer>
</body>

</html>