<!DOCTYPE html>
<html lang=”en”>

<head>
    <%- include("./partials/head") %>
</head>


<body class="body">

    <header>
        <div class="header-div">
            <p class="back-arrow"><a class="arrow" href="/"><i class="fas fa-arrow-alt-circle-left"></i> </a></p>

        </div>

        <h1>
            NutriFarco<img class="img" src="./img/favicon.ico" class="logo" />
        </h1>

    </header>


    <main>
        <h1 class="inicia-sesion">Iniciar sesión</h1>

      
            <form method="post" action="/user/login">
                <div class="div-input">
                    <label class="hidden " for="nickname">Correo Electrónico</label>
                    <input class="input-log" type="text" name="email" id="email" placeholder="correo@email.com" required/>
                    </div>

                <div class="div-input">
                    <label class="hidden" for="password">Contraseña <br></label>
                    <input class="input-log" type="password" name="password" id="password" placeholder="Contraseña" required />
                </div>

                <div>
                    <label for="recordame" class="recordar">Recuérdame</label>
                    <input type="checkbox"  id="recordar" name="recordar">
                </div>
            

                <div class="div-bottom">             
                    <button class="bottom-log-continuar" type="submit">Iniciar sesión</button>
                    <a href="/user/register"><button class="bottom-log-crear" type="submit"> Crear cuenta</button></a>              
                    
                </div> 
                    <p class="need-container"><a class="need" href="/help">
                        Necesito ayuda para ingresar </a>
                    </p>
                
            </form>
    </main>

    <footer>
        <%- include("./partials/footer-log-reg") %>

    </footer>
</body>

</html>