<div class="footer__section">
    <h2 class="footer__title">ACERCA</h2>
    <p class="footer__txt">Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus. Nulla porttitor accumsana tincidunt.</p>
  </div>
  <div class="footer__section">
    <h2 class="footer__title">UBICACIÓN :</h2>
    <p class="footer__txt">5367k 5 Piso, 9 de Julio, Buenos Aires</p>
    <h2 class="footer__title">CONTACTO</h2>
    <p class="footer__txt">Phone : +123 123 1234 1234</p>
    <p class="footer__txt">Email : bananero@gmail.com</p>
  </div>
  <div class="footer__section">
    <h2 class="footer__title">Quick Links</h2>
    <a href="" class="footer__link">Home</a>
    <a href="" class="footer__link">About</a>
    <a href="" class="footer__link">FAQ</a>
    <a href="" class="footer__link">Shop</a>
    <a href="" class="footer__link">Contact Us</a>
  </div>
  <div class="footer__section">
    <h2 class="footer__title">Sign up for your offers</h2>
    <p class="footer__txt">By subscribing to our mailing list you will always get latest news and updates from us.</p>
    <input type="email" class="footer__input" placeholder="Enter your email">
  </div>
  <p class="copy">© 2022 Nutrifarco. All Rights Reserved | Design by Nutrifarco</p>