<div class="container container--flex">
    <div class="main-header__container">
      <h1 class="main-header__title">NutriFarco</h1>
      <span class="icon-menu" id="btn-menu"><i class="fa-solid fa-bars"></i></span>
      <nav class="main-nav" id="main-nav">
        <ul class="menu">
          <li class="menu__item"><a href="" class="menu__link">HOME</a></li>
          <li class="menu__item"><a href="" class="menu__link">ABOUT</a></li>
          <li class="menu__item"><a href="" class="menu__link">FEATURES</a></li>
          <li class="menu__item"><a href="" class="menu__link">SHOP</a></li>
          <li class="menu__item"><a href="" class="menu__link">CONTACT</a></li>
        </ul>
      </nav>
    </div>
    <div class="main-header__container">
      <span class="main-header__txt">¿Necesitás ayuda?</span>
      <p class="main-header__txt"><i class="fa-solid fa-phone-flip"></i> Llama al 1234566789</p>
    </div>
    <div class="main-header__container">
      <a href="" class="main-header__btn">Carrito <i class="fa-solid fa-cart-shopping"></i></a>
      <a href="/login" class="main-header__link"><i class="fas fa-user"></i></a>
      <input type="search" class="main-header__input" placeholder="Buscar productos"><i class="fas fa-search"></i>
    </div>
  </div>